*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
1788170251615.jpg
Screenshot_2026-08-29-19-02-17-872_com.ripplemotion.android.EssenceLite.jpg
Screenshot_2026-08-29-19-03-19-708_com.ripplemotion.android.EssenceLite.jpg
